.about {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto -3rem auto;
}

.about-me {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 100%;
  height: auto;
}

.photo img {
  max-width: 20rem;
  margin-top: 12rem;
}

.text {
  width: 100%;
  height: auto;
}

.text p {
  margin: 5rem 0;
}

.skills {
  width: 100%;
  height: auto;
  padding-bottom: 4rem;
}

.skills h3 {
  margin-bottom: 6rem;
}

.skills img {
  width: 6rem;
  margin: .5rem 1.5rem;
}

@media (min-width: 75rem) {
  .about-me {
    flex-direction: row;
  }

  .photo {
    width: 40%;
  }

  .photo img {
    margin-top: 16rem;
  }

  .text {
    width: 60%;
  }

  .text p {
    margin-top: 16rem;
  }
}