.about {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto -3rem auto;
  text-align: center;
}

.about-me {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 100%;
  height: auto;
}

.photo img {
  max-width: 20rem;
  margin-top: 12rem;
}

.text {
  width: 100%;
  height: auto;
}

.text p:nth-child(1) {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.text p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 5rem;
}

.skills {
  width: 100%;
  height: auto;
  padding-bottom: 4rem;
}

.skills h3 {
  margin-bottom: 6rem;
  letter-spacing: .3rem;
}

.skills img {
  width: 6rem;
  margin: .5rem 1.5rem;
}

@media(min-width: 40rem) {
  .about {
    width: 70%;
  }
}

@media (min-width: 75rem) {
  .about-me {
    flex-direction: row;
  }

  .photo {
    width: 40%;
  }

  .photo img {
    margin-top: 16rem;
  }

  .text {
    width: 60%;
  }

  .text p:nth-child(1) {
    margin-top: 15rem;
  }
}