.contact {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: -3rem;
}

.contact-form {
  width: 100%;
  margin-top: 7rem;
}

.contact-form p {
  margin: 2rem 0 1rem 0;
}

.contact-form input, textarea {
  width: 90%;
  padding: 1rem;
  background: #e3f5ff;
  color: #505766;
  font-size: 1.6rem;
  font-family: 'Catamaran';
  border: none;
  border-radius: .5rem;
}

.contact-form textarea {
  resize: none;
}

.contact-form input::selection {
  background: black;
  color: white;
}

.contact-form textarea::selection {
  background: black;
  color: white;
}

.contact-form button {
  margin-top: 2.5rem;
  padding: 1rem 1.8rem;
  background: white;
  color: #63639c;
  font-weight: bold;
  border: 2px solid #63639c;
  border-radius: .5rem;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.contact-form button:hover {
  background: #63639c;
  color: white;
}

.contact-links {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  text-align: center;
}

.contact-links ul {
  margin-top: 5rem;
  text-align: center;
  list-style: none;
}

.contact-links li {
  display: inline;
  margin: 1rem 0;
}

.contact-links a {
  color: #63639c;
}

.contact-links i {
  padding-right: 3rem;
}

@media (min-width: 75rem) {
  .contact {
    flex-direction: row;
  }

  .contact-form {
    width: 60%;
    margin-top: 10rem;
  }

  .contact-form input, textarea {
    width: 60%;
  }

  .contact-links {
    width: 35%;
    margin-top: 13.5rem;
    margin-bottom: 0;
    text-align: left;
  }
}