.contact {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto -3rem auto;
  text-align: center;
}

.contact-form {
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.contact-form p {
  margin: 2rem 0 1rem 0;
}

.contact-form input, textarea {
  width: 90%;
  padding: 1rem;
  background: #e3f5ff;
  color: #5A6782;
  font-size: 1.6rem;
  font-family: 'Catamaran';
  border: none;
  border-radius: .5rem;
}

.contact-form textarea {
  resize: none;
}

.contact-form input::selection {
  background: black;
  color: white;
}

.contact-form textarea::selection {
  background: black;
  color: white;
}

.contact-form button {
  margin-top: 2.5rem;
  padding: .3rem 1.8rem;
  background: white; 
  color: #7174cf;
  font-size: 1.4rem;
  font-family: 'Catamaran';
  border: .15rem solid #7174cf;
  border-radius: .5rem;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.contact-form button:hover {
  background: #7174cf;
  color: white;
}

.contact-links {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  text-align: center;
}

.contact-links ul {
  margin-top: 5rem;
  text-align: center;
  list-style: none;
}

.contact-links li {
  display: inline;
  margin: 1rem 0;
}

.contact-links a {
  color: #7174cf;
}

.contact-links i {
  padding-right: 3rem;
}

@media (min-width: 40rem) {
  .contact {
    width: 70%;
  }
}

@media (min-width: 75rem) {
  .contact {
    flex-direction: row;
  }

  .contact-form {
    width: 60%;
    margin-top: 10rem;
    margin-bottom: 7rem;
  }

  .contact-form input, textarea {
    width: 60%;
  }

  .contact-links {
    width: 35%;
    margin-top: 13.5rem;
    margin-bottom: 0;
    text-align: left;
  }
}