.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #63639c;
  /* background: #8d66f8; */
  box-shadow: 0 .3rem .5rem #00000080;
}

.header nav {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 5rem;
}

.header ul {
  margin: 1rem 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.header li {
  display: inline;
  padding: 0 1rem;
}

a {
  padding: .65rem 0;
  color: white;
  text-decoration: none;
  -webkit-transition: color .3s;
  -moz-transition: color .3;
  transition: color .3s;
}

a:visited {
  color: white;
}

a:hover {
  color: #51d6ff;
}

.selected {
  border-bottom: .4rem solid #51d6ff;
}

@media (min-width: 40rem) {
  .header nav {
    width: 70%;
    justify-content: flex-end;
  }
}