.camo {
  position: fixed;
  width: 100%;
  height: 8.5px;
  margin-top: 4.95rem;
  background: #7174cf;
  z-index: 10;
}

.home {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto -3.4rem auto;
  background-image: url('../img/cat.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center top;
  color: white;
  text-align: center;
}

.title {
  margin-top: 20rem;
  margin-bottom: 10rem;
}

.title h1 {
  letter-spacing: 1rem;
}

.home-links {
  margin: 7rem auto;
}

.home-link {
  margin: 2.5rem 1rem;
  padding: .3rem 2rem;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Catamaran';
  letter-spacing: .1rem;
  border: .15rem solid #75dfff;
  border-radius: .5rem;
}

.home-link:hover {
  color: white;
}

.contact-link {
  background: #75dfff;
}

.work-link {
  background: transparent;
}

@media (max-width: 40rem) {
  .title h1 {
    font-size: 2.5rem;
  }
}