@import url('https://fonts.googleapis.com/css?family=Catamaran');

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.8rem;
  color: #5A6782;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::placeholder {
  color: #5a678294;
  font-style: italic;
}

textarea::placeholder {
  color: #5a678294;
  font-style: italic;
}

::selection {
  background: #e3f5ff;
}

mark {
    background-color: #e3f5ff;
    color: #5A6782;
}