.project {
  margin: 2rem auto;
  width: 40rem;
  height: 30rem;
  border-radius: .5rem;
  box-shadow: 0 0 1rem #00000050;
  
}

.project img {
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

@media(min-width: 75rem) {
  .project {
    margin: 1rem;
  }
}