@keyframes fadein {
  0%    {transform:scale(.5, .5); opacity: 0;}
  100%  {transform:scale(1, 1); opacity: 1;}
}

.project {
  margin: 1rem 0 2rem 0;
  width: 100%;
  border-radius: .5rem;
  box-shadow: 0 0 1rem #00000050;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  animation: fadein 1s;
}

.project:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 0 3rem #00000050;
}

.project img {
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.project h4 {
  margin: .5rem auto 1rem auto;
}

.project p {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.4rem;
}

.project .tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 5.3rem;
}

.project span {
  max-height: 2.5rem;
  padding: 0 .5rem;
  margin: auto .2rem;
  background: #e3f5ff;
  font-size: 1.4rem;
  border-radius: .5rem;
}

.project .buttons {
  margin: 1rem auto;
}

.project .buttons a {
  margin: 0 2rem;
  padding: .3rem 1.8rem;
  background: #7174cf;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.project .buttons a:hover {
  background: #75dfff;
  color: white;
}

@media(min-width: 40rem) {
  .project {
    width: 45%;
  }
}

@media(min-width: 75rem) {
  .project {
    width: 30%;
  }
}