.projects {
  width: 90%;
  max-width: 100rem;
  min-height: 100vh;
  margin: 0 auto -3rem auto;
  text-align: center;
}

.projects h3 {
  margin: 12rem auto 3rem auto;
  letter-spacing: .3rem;
}

.projects-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 7rem;
  border-bottom: 1px solid #00000050;
  text-align: center;
}