.projects {
  width: 90%;
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto -3rem auto;
  text-align: center;
}

.projects h3 {
  margin: 3rem;
  letter-spacing: .3rem;
}

.projects h3:nth-child(1) {
  margin: 12rem auto 3rem auto;
}

.projects-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 7rem;
  text-align: center;
}